extends layout

block content
    .container 
        .section-header
            h2 Accessibilité
        p Page en construction.
        .row.mt-4.mb-5.text-end
            .col-12
                a.btn.btn-primary(href="/") Retour à l'accueil